
html,body{
    background-color: #fff;
    font-family: 'Source Sans Pro',sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}
a{
    color: black;
}

*{
    text-decoration: none !important;
    box-sizing: border-box;
}


.logo{
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    
}

.links__reg{
    white-space: nowrap;
}

.nav .links .mainlink{
    color: #e0501b;
}

.color__text{
    color: #e0501b;
}

.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}



body {
    margin: 0 auto;
    padding: 0 10px;
    background: #f3f2f3;
    color: #151515;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    height: 100%;

    min-height: 100%;
    display: flex;
    flex-direction: column;
   }





            /* КОНТЕЙНЕР */
#container {
    margin: 0 auto;
    /* padding: 0 10px; */
    background-color: #fff;
    display: block;
	flex-direction: column;
	
    width: 80%;
    
   }


        /* БОКОВОЕ МЕНЮ */
#menu {
    background-color: #fff;
    float: left;
    min-height: 100%;
    min-width: 20%;
    flex: 1 0 auto;
}

.menu-inner{
    padding: 30px;
    margin-top: 3em;
    
}

.menu-list-item{
    margin-bottom: 2em;
}

.menu-list-link{
    color: #151515;
    text-transform: uppercase;
    
}

.main-menu-list-link--active{
    font-weight: 900;
    color: rgb(153,50,204);
}



            /* ТОВАРЫ */
#content {
    background: #fff;
   

    display: flex;

    gap: 30px;
    padding: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    
}

.card{
    min-width: 230px;
    min-height: 350px;

    display: block;
    max-width: 220px;
    max-height: 480px;
    background-color: #fff;
    
    box-shadow: 0 10px 22px rgba(0,0,0,0.09);
    
    -webkit-animation: anim 2s;
}

@-webkit-keyframes anim{
    0%{margin-top: 20px;}
}

.card-link{
    position: absolute;
    height: 365px;
    width: 230px;
    z-index: 3;
}

.card-price{
    font-size: 120%;
    margin-top: 1em;
    
}


/* .buy-btn {
    margin-left: 5.15em;
    height: 30px;
    width: 30px;
    padding-right: 25px;
    background-color: #fff;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
  } */
  



.card-icons{
    
}

.stars{
    height: 22px;
    margin-top: 0.5em;
}

.like-btn{
    height: 30px;
    width: 30px;
    
    margin-left: 13em;
    background-color: #fff;
    /* border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9; */
    border: none;
    margin-top: -2em;
}





.img-card{
    margin: 0.5em;
}

.card-btn{
    display: flex;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
    height: 30px;
    background-color: #fff;
    z-index: -2;
    transition: .4s;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #151515;
}
.card-btn:hover{
    background-color: #151515;
    color: #fff;
}

.card-content{
    padding: 0 0 0 0.8em;
}

.card-footer{
    /* margin-top: 1em; */
}



            /* ПОДВАЛ */
            .footer{
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 20px;
                /* margin: 1% 0 1% 0; */
                
            }
            
            .footerlinks a{
                margin: 20px;
                font-size: 16px;
                font-weight: 600;
                color: #000;
            }
            .footerlinks .mainlink{
                color: #e0501b;
            }
            




            /* СТРАНИЦА С ТОВАРОМ */
.preview{
    display: flex;
    margin-top: 2em;
}

 .preview-photo{
    width: 490px;
    height: 650px;
    background-color: #aa7272;

    
    border-radius: 10px;
    
    margin-left: 2em;
    display: flex;
}

#photo{
    border-radius: 10px;
}

.gallery{
    
}

.gallery-list-item{
    margin-bottom: 1em;
    border-radius: 6px;
}

.gallery-list-btn{
    width: 90px;
    height: 115px;
    padding: 0;
    border-radius: 6px;
    border: none;
    background-color: #fff;
}

.gallery-list-photo{
    border-radius: 6px;
}


.product-info{
    margin-left: 3em;
}

.product-name{
    font-size: 35px;
}

.product-price{
    margin-top: 1.5em;
    font-size: 25px;
}

.product-buttons{
    margin-top: 1.7em;
    display: flex;
}

#product-buy-btn{
    font-size: 20px;
    background-color: #fff;
    min-width: 7em;
    height: 3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
}
#product-buy-btn:hover{
    background-color: #151515;
    color: #fff;
}

.product-like-list{
    display: flex;
}

.product-like-btn{
    font-size: 20px;
    height: 3em;
    width: 4em;
    margin-left: 1em;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    
}

.product-like-item{
    margin-top: 0.45em;
    margin-left: 0.3em;
}


.accent-block{
    background-color: #fafafa;
    padding: 0.7em;
    font-size: 18px;
    margin-top: 2em;
    width: 20em;
    border-radius: 5px;
}

.accent-block-list{
    line-height: 1.7em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.hr-line{
    background-color: #edeef0;
    border: none;
    height: 1px;
    width: 18em;
}


.description-block{
    margin-top: 2em;
}

.description-name{
    font-size: 25px;
}

.description{
    margin-top: 1em;
    line-height: 1.5em;
    font-size: 18px;
    margin-left: 0.4em;
}




dialog {
	padding: 3em 3em;
	background: white;
	width: 400px;
	padding-top: 2em;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 40%);
	
	&::backdrop {
		backdrop-filter: blur(20px);
	}
	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			transform: scale(1.1);
		}
	}

    .dialog-name{
        display: flex;
        justify-content:center;
        font-size: 25px;
    }
    
    .dialog-content{
        margin-top: 2em;
        font-size: 20px;
        margin-left: 8%;
        
    }

    .dialog-username-input{
        margin-top: 1em;
        height: 2.5em;
        border-radius: 7px;
        border-width: 1px;
        border: 1px solid #d9d9d9;
        padding: 10px;
    }

    .dialog-email{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .dialog-email-input{
        margin-top: 1em;
        height: 2.5em;
        border-radius: 7px;
        border-width: 1px;
        border: 1px solid #d9d9d9;
        padding: 10px;
    }

    .estimation{
        display: flex;
        margin-top: 1em;
    }

    .estimation-stars{
        margin-left: 1.8em;
        display: flex;
    }

    .estimation-icon{
        height: 1.4em;
    }

    .estimation-name{
        margin-top: 0.23em;
    }

    .hide-stars{
    
    }
    .hide-stars .hide-img{
        opacity: 0;
    }
    .hide-stars:hover .hide-img{
        opacity: 1;
        padding: 0;
        height: 1.4em;
        margin-top: -27px;
    }

    .dialog-text-input{
        margin-top: 1em;
        border-radius: 7px;
        border-width: 1px;
        border: 1px solid #d9d9d9;
        padding: 10px;
        resize: vertical;
    }

    .submit-estimation{
        margin-left: 3.4em;
        margin-top: 2em;
        height: 3em;
        width: 15em;
        font-size: 15px;

        background-color: #fff;
        border-radius: 7px;
        border-width: 1px;
        border: 1px solid #d9d9d9;
        padding: 10px;
    }
    .submit-estimation:hover{
        background-color: #151515;
        color: #fff;
    }

}




.user-card{
    background-color: #f5f5f5;
    width: 40em;
    margin: auto;
    margin-top: 7em; 
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    background: none;
    padding: 2em;   
    
}

.user-card-name{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 2em;
}

.user-card-firstname{
    font-size: 25px;
    margin-left: 2em;
    
}

#user-card-firstname-input{
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 7px;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    background: none;
}

.user-card-secondname{
    font-size: 25px;
    margin-left: 2em;
}

#user-card-secondname-input{
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 7px;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    background: none;
}

.user-card-phonenumber{
    font-size: 25px;
    margin-left: 2em;
}

#user-card-phonenumber-input{
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 7px;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    background: none;
}

.user-card-old{
    font-size: 25px;
    margin-left: 2em;
}

#age{
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 7px;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    background: none;
}

.user-card-buttons{
    font-size: 25px;
    margin-left: 2em;
}

.user-card-submit-btn{
    background: none;
    width: 6.7em;
    height: 2.5em;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
}

.user-card-reset-btn{
    background: none;
    width: 6.7em;
    height: 2.5em;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
}


.dialog-username{
    color: #151515;
    
}

#get-name{
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.dialog-secondname{
    margin-top: 1em;
    
}

#get-secondname{
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
}

#get-cardnum{
    margin-top: 0.5em;
    margin-left: 0.5em;
}


/* КОРЗИНА */

.buy-products{
    width: 57%;
    height: 100%;
    margin-top: 5em;
}

.buy-product{
    background-color: #fff;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;

    display: flex;
    padding: 1em;

    margin-bottom: 1em;
}

.buy-text{
    margin-right: 5em;
}

.buy-product-name{
    display: block;
    margin-left: 1em;
    font-weight: 600;
    font-size: 25px;
}

.buy-product-text{
    margin-left: 2.3em;
    margin-top: 1em;
}



.buy-count{
    margin-left: 4em;
}

.buy-count-btn{
    display: flex;
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    font-weight: 600;
    color: #fff;
    background-color: #151515;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

.count input {
    max-width: 55px;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
}

.count .minus.min {
    background-color: #989797;
}

#count-input{
    height: 2em;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    margin-left: 0.5em;
    margin-right: 0.5em;
    max-width: 5em;
    width: 3em;
    text-align: center;
}

.buy-price{
    display: flex;
    margin-top: 1em;
}

#price-input{
    background-color: #fff;
    border: none;
    width: 2.4em;
    font-size: 20px;
    color: black;
}

.buy-rub{
    font-size: 20px;
    margin-left: 0.5em;
}

.buy__inner{
    display: flex !important;
    flex-direction: row-reverse !important;
    min-height: unset !important;
    justify-content: space-between;
    
}

.buy-info{
    height: 30em;
    width: 25em;
    margin-top: 5em;
    /* background-color: #aa7272; */

    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;
    margin-bottom: 41px;

    
}

.buy-address{
    margin: 0.5em;
    font-size: 40px;
}

#input-address{
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;

    height: 40px;
    width: 350px;
    margin-top: 2em;
}

.sell{
    background-color: rgba(60, 255, 0, 0.411);
    padding: 1em;
    font-size: 20px;
    width: 300px;
    margin: auto;

    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #06a500;
}

.full-price{
    font-size: 40px;
    margin-top: 1em;
    margin-left: 0.5em;
    line-height: 70px;
    text-align: center;
}

#full-price-input{
    background-color: #fff;
    border: none;
    width: 2.4em;
    font-size: 40px;
    color: black;
}

/* XML */
MAGAZIN{ 
    display:block;
    text-align: center;
}
id{
    display:block;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
NAME{
    display:block;
    margin-bottom: 1em;
    font-weight: bold;
}
tovar{ 
    display:block;

    border-radius: 7px;
    border-width: 1px;
    border: 1px solid #d9d9d9;

    background-color: #fff;
    width: 400px;
    margin: auto;
    margin-top: 2em;

    padding: 1em;

    box-shadow: 3px 3px 3px 3px (0,0,0,0.09);
    
}
razmer{ 
    display:block;
}
material{ 
    display:block;
}
cena{ 
    display:block;
}
nalichie{ 
    display:block;
}




/* =================== */

#test{
    margin-top: 10em;
    margin-bottom: 20%;
    text-align: center;
}